<!DOCTYPE html>
<html>
<head>
	<title></title>
 
</head>
<body>

	<center><h1> Cabin Avalabilabe Room List </h1></center>
	<div class="cabinInfo">
<table>
    <tr> <th> <b>Room NO </b> </th> <th><b> Cabin No</b></th> <th><b> Cabin Type</b></th>  <th><b>Availability </b></th>  </tr>
   <tr> <td> 1</td> <td>201 </td> <td>Normal Cabin</td> <td>Available </td></tr>
   <tr> <td> 2</td> <td>202</td><td>VIP Cabin</td><td>Available </td></tr>
   <tr> <td> 3</td> <td>203 </td><td>Normal Cabin</td><td>Not Available </td></tr>
 
   <tr> <td> 7</td> <td>204</td><td>VIP Cabin</td><td>Available </td></tr>
   <tr> <td> 8</td> <td>205 </td><td>VIP Cabin</td><td>Not Available </td></tr>
   <tr> <td> 9</td> <td>206</td><td>Normal Cabin</td><td>Available </td></tr>
 
   </table>

   <a href="home.php"><b>Back</b></a>
   </div>

</body>
</html>
